.backButton {
  position: fixed;      
  top: 7rem;            
  left: 5rem;           
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1000;        
  transition: transform 0.2s;
}


.backButton:hover {
  transform: scale(1.05);
}

.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.grass {
  background-color: #78c850;
}
.electric {
  background-color: #f8d030;
}
.rock {
  background-color: #b8a038;
}
.normal {
  background-color: #a8a878;
}
.ice {
  background-color: #98d8d8;
}
.fighting {
  background-color: #c03028;
}
.poison {
  background-color: #a040a0;
}
.ground {
  background-color: #e0c068;
}
.flying {
  background-color: #a890f0;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a8b820;
}
.ghost {
  background-color: #705898;
}
.dragon {
  background-color: #7038f8;
}
.dark {
  background-color: #705848;
}
.steel {
  background-color: #b8b8d0;
}
.fairy {
  background-color: #f0b6bc;
}
