.fullpage-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.fullpage-strip {
  width: 33.33%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.fullpage-strip.left {
  background-image: url("/src/assets/pokemon-left.jpg");
}

.fullpage-strip.center {
  background-color:whitesmoke;
  color: black;
}

.fullpage-strip.right {
  background-image: url("/src/assets/digimon-right.jpg");
}

.panel-content h2 {
  color: white;
  font-size: 2.8rem;
  text-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

.hover-gif {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.55s ease;
}

.fullpage-strip.left:hover .left-gif,
.fullpage-strip.right:hover .right-gif {
  opacity: 1;
}

