
.title {
  font-size: 3rem;
  color: #FF8C00;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(255, 140, 0, 0.5); 
  margin-bottom: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.searchBox {
  margin-bottom: 30px;
  width: 80%;
  max-width: 400px;
}

.searchBox input {
  width: 100%;
  padding: 12px 18px;
  border-radius: 30px;
  border: 4px solid #3498db;
  background-color: #f8f8f8;
  color: #333;
  font-size: 1.1rem;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.searchBox input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.8), inset 0 2px 5px rgba(0, 0, 0, 0.4);
  outline: none;
}

.actions {
  display: flex;
  gap: 15px; 
  justify-content: center; 
  margin-bottom: 25px; 
  margin-top: 10px;
}

.actionButton {
  padding: 10px 20px;
  background: #1976d2; 
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 1.0rem;
  cursor: pointer;
  text-decoration: none; 
  transition: all 0.3s ease;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.actionButton:hover {
  transform: translateY(-2px);
  background: #1565c0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  margin-top: 30px;
  color: #222;
}

.itemLink {
  text-decoration: none;
  color: #222;
  display: block;
}

.digimonImg {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.cardContent {
  padding: 10px;
}

.favButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  transition: transform 0.2s;
}

.favButton:hover {
  transform: scale(1.1);
}

.noResults {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 2.5rem;
  }
  .searchBox {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .list {
    grid-template-columns: 1fr;
  }
}