.title {
  font-size: 3rem;
  color: #013056;
  text-shadow: 2px 2px #00000033;
  margin: 20px 0 30px 0;
  text-align: center;
}

.searchBox {
  margin-bottom: 25px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.searchBox input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  border: 2px solid #000dff;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
}

.searchBox input:focus {
  border-color: #47acff;
  box-shadow: 0 0 10px #1e00ffaa;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 1400px;
  margin-right: 15%;
  margin-top: 5%;
  
}

.digimonImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 3px solid #0077ff;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  padding: 10px;
}

.listItem p {
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: #0015ff;
  text-shadow: 1px 1px #00000033;
}

.listItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 15px #1500ffaa inset;
  opacity: 0;
  transition: opacity 0.3s;
}

.listItem:hover::after {
  opacity: 1;
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .list {
    grid-template-columns: 1fr;
  }
}


